<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @movie.text %>
</p>

<h2>Actors</h2>
<%= render @movie.actors %>

<h2>Add a actor:</h2>
<%= render 'actors/form' %>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
